<div>
    <h1 class="display-4 ionic-title">
        Setup
    </h1>
    <br>

    <li class="lead ionic-large-text">
        Install <a target="_blank" href="https://nodejs.org/en/download/">NODE</a>

    </li>

    <br>

    <li class="lead ionic-large-text">
        Install <a target="_blank" href="https://cli.angular.io/">Angular's cli</a>
    </li>

    <pre class="ionic-codeblock">
        <code>
            > npm install -g @angular/cli
        </code>
    </pre>

    <li class="lead ionic-large-text">
        Install <a target="_blank" href="https://ionicframework.com/docs/intro/installation/">IONIC's cli</a>
    </li>

    <pre class="ionic-codeblock">
        <code>
           >  npm install -g ionic cordova
        </code>
    </pre>


</div>
