<div>
    <h1 class="display-4 ionic-title">
        Using Ionic CLI to generate and start your first app
    </h1>
    <br>
    <p class="lead ionic-large-text">
        Generate new project:
    </p>
    <pre class="ionic-codeblock">
        <code>
            > ionic start myApp blank
        </code>
    </pre>
    <br>
    <p class="lead ionic-large-text">
        Build and run your project:
    </p>
    <pre class="ionic-codeblock">
        <code>
            > cd myApp
            > ionic serve
        </code>
    </pre>
</div>
