<div class="row">
    <div class="col-6">
        <h1 class="display-4 ionic-title">
            Ionic Menu
        </h1>
        <br>
        <br>
        <br>
        <img src="../../../assets/code_1.JPG">
    </div>
    <div class="col-6">
        <div class="ionic-app-frame">
            <iframe class="ionic-app-sample" src="../../../assets/demo2/index.html"
                    frameborder="0"
                    width="372px"
                    height="488px"></iframe>
        </div>
    </div>
</div>
