.presentation-header {
    height: 100px;
    //background-color: #ff6600;
    background-color: #ea8408;
    //margin-top: 56px;
    padding-left: 60px;
    padding-top: 20px;
    color: white;

    /*& .h1, .h2, .h3 {
        color: white;
    }*/
}
