<div>
    <h1 class="display-4 ionic-title">
        Ionic is powerful because it:
    </h1>
    <ul class="lead ionic-large-text ionic-list-small">
        <li>
            Uses familiar development tools
        </li>
        <li>
            Has a strong native feel
        </li>
        <li>
            Provides fast builds and deployment
        </li>
        <li>
            Allows live deployment to production
        </li>
    </ul>
    <br><br>
    <h1 class="display-4 ionic-title">
        Companies that use Ionic for their mobile developments:
    </h1>
    <img src="../../../assets/usecase.jpg">
</div>
